* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #401f3e;
}
nav {
  width: 100%;
  height: 4rem;
  background-color: #2e382e;
  color: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: #50c9ce;
  height: 85vh;
  padding: 15px;
}
.board {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  padding: 5px;
  margin: 5px auto;
  border: 5px solid #2e382e;
  background-color: #fcd3de;
  width: fit-content;
}

.cell {
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 35px;
  width: 35px;
}

.score {
  color: #ebebeb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline;
}

.span {
  display: inline-block;
  margin: 0 10px;
}

button {
  vertical-align: super;
  background-color: transparent;
  color: whitesmoke;
  height: 50%;
  width: 70px;
  padding: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  margin: 10px;
}

.red {
  background-image: linear-gradient(to bottom right, red, rgb(80, 75, 75));
}
.green {
  background-image: linear-gradient(to bottom right, green, rgb(80, 75, 75));
}
.blue {
  background-image: linear-gradient(to bottom right, blue, rgb(80, 75, 75));
}
.yellow {
  background-image: linear-gradient(to bottom right, yellow, rgb(80, 75, 75));
}

.heighlight {
  background-image: linear-gradient(to bottom right, white, rgb(119, 113, 113));
  cursor: pointer;
}

.clicked {
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 35px;
  width: 35px;
  background-color: white;
}

/* media queries */
@media screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }
  .cell {
    height: 25px;
    width: 25px;
  }
  .clicked {
    height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 10px;
  }
  .cell {
    height: 18px;
    width: 18px;
  }
  .clicked {
    height: 18px;
    width: 18px;
  }
}
